<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prijava | Register</title>
    <script src="vendor/js/jquery-1.10.2.js"></script>
    <link rel="icon" type="image/x-icon" href="assets/cats/runner.gif">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap/winmark/dist/css/bootstrap-formhelpers.css" rel="stylesheet">

    <script src="/assets/bootstrap/winmark/js/lang/en_US/bootstrap-formhelpers-countries.en_US.js"></script>
    <script src="/assets/bootstrap/winmark/js/bootstrap-formhelpers-countries.js"></script>
</head>
<body>
<div class="container">
    <br>
    <div style="margin-left: 1%">
        <a class="btn btn-danger" href="/">
            <strong>Back</strong>
        </a>
    </div>
    <h1>PRIJAVA | REGISTER</h1>
    <form method="post" action="">

        <div class="form-group">
            <label>Ime / Name</label>
            <input style="width:50%;" class="form-control" id="addName" name="ime" required>
        </div>

        <div class="form-group">
            <label>Prezime / Surname</label>
            <input style="width:50%;" class="form-control" id="addSurname" name="prezime" required>
        </div>

        <div class="form-group">
            <label for="sel1">Spol / Sex</label>
            <select style="width:50%;" class="form-control" id="sel1" name="spol" required>
                <option></option>
                <option>M</option>
                <option>Ž</option>
            </select>
        </div>

        <div class="form-group">
            <label for="addCategory">Kategorija / Category</label>
            <select style="width:50%;" class="form-control" id="addCategory" name="kategorija" required>
                <option></option>
                <option>3 km</option>
                <option>6 km</option>
                <option>9 km</option>
            </select>
        </div>

        <div class="form-group">
            <label>Država / Country</label>
            <input style="width:50%;" class="form-control" id="addCountry" name="drzava" required>
        </div>

        <div class="form-group">
            <label>Klub / Club</label>
            <input style="width:50%;" class="form-control" id="addClub" name="klub">
        </div>

        <button class="btn btn-success" type="submit">Prihvati / Submit</button>
    </form>
    <br>
    <a class="btn btn-info btn-lg" href="/svi_trkaci">Svi prijavljeni</a>
</div>
<script src="/assets/bootstrap/js/bootstrap.js"></script>

</body>
</html>